apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: 01-build-test-deploy
spec:
  serviceAccountName: cdcon-app-builder
  pipelineRef:
    name: build-test-deploy
  workspaces:
    - name: cdcon-workspace
      persistentVolumeClaim:
        claimName: cdcon-workspace
  params:
    - name: appPath
      value: "01-build-test-deploy/app"
    - name: appName
      value: "01-cdcon-hello-app"
    - name: nodePort
      value: "32426"
  resources:
    - name: app-image
      resourceSpec:
        type: image
        params:
          - name: url
            value: docker.io/${DOCKER_USERNAME}/01-cdcon-hello-app:latest

