apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: 02-build-and-deploy-with-cleanup
spec:
  serviceAccountName: cdcon-app-builder
  pipelineRef:
    name: pipeline-to-build-and-deploy-with-cleanup
  workspaces:
    - name: cdcon-workspace
      persistentVolumeClaim:
        claimName: cdcon-workspace
  params:
    - name: appPath
      value: "02-build-and-deploy-with-cleanup/app"
  resources:
    - name: app-image
      resourceSpec:
        type: image
        params:
          - name: url
            value: docker.io/${DOCKER_USERNAME}/02-cdcon-hello-app:latest

