apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: 02-build-test-deploy-cleanup
spec:
  serviceAccountName: cdcon-app-builder
  pipelineRef:
    name: build-test-deploy-cleanup
  workspaces:
    - name: cdcon-workspace
      persistentVolumeClaim:
        claimName: cdcon-workspace
  params:
    - name: appPath
      value: "02-build-test-deploy-cleanup/app"
    - name: appName
      value: "02-cdcon-hello-app"
    - name: nodePort
      value: "32428"
  resources:
    - name: app-image
      resourceSpec:
        type: image
        params:
          - name: url
            value: docker.io/${DOCKER_USERNAME}/02-cdcon-hello-app:latest

