apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: 01-build-app-image
spec:
  serviceAccountName: cdcon-app-builder
  pipelineRef:
    name: pipeline-to-build-image
  workspaces:
    - name: cdcon-workspace
      persistentVolumeClaim:
        claimName: cdcon-workspace
  params:
    - name: appPath
      value: "use-case-1/app"
    - name: nodePort
      value: "32426"
  resources:
    - name: app-image
      resourceSpec:
        type: image
        params:
          - name: url
            value: docker.io/${DOCKER_USERNAME}/cdcon-hello-app:latest

